<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>4096</integer>
		</dict>
	<key>frames</key>
	<dict>
		<key>ninja_small_highlight.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>676</integer>
			<key>height</key>
			<integer>1272</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>676</integer>
			<key>originalHeight</key>
			<integer>1420</integer>
		</dict>
		<key>pirate_small_highlight.png</key>
		<dict>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>587</integer>
			<key>height</key>
			<integer>1418</integer>
			<key>offsetX</key>
			<real>-44.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>676</integer>
			<key>originalHeight</key>
			<integer>1420</integer>
		</dict>
		<key>ninja_small.png</key>
		<dict>
			<key>x</key>
			<integer>1267</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>626</integer>
			<key>height</key>
			<integer>1171</integer>
			<key>offsetX</key>
			<real>-25</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>676</integer>
			<key>originalHeight</key>
			<integer>1420</integer>
		</dict>
		<key>pirate_small.png</key>
		<dict>
			<key>x</key>
			<integer>1895</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>534</integer>
			<key>height</key>
			<integer>1317</integer>
			<key>offsetX</key>
			<real>-71</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>676</integer>
			<key>originalHeight</key>
			<integer>1420</integer>
		</dict>
		<key>logo.png</key>
		<dict>
			<key>x</key>
			<integer>2431</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>1280</integer>
			<key>height</key>
			<integer>523</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1280</integer>
			<key>originalHeight</key>
			<integer>523</integer>
		</dict>
		<key>bg_table_cell.png</key>
		<dict>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>1420</integer>
			<key>width</key>
			<integer>1200</integer>
			<key>height</key>
			<integer>300</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1200</integer>
			<key>originalHeight</key>
			<integer>300</integer>
		</dict>
		<key>bg_textfield.png</key>
		<dict>
			<key>x</key>
			<integer>1880</integer>
			<key>y</key>
			<integer>1420</integer>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>288</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1020</integer>
			<key>originalHeight</key>
			<integer>288</integer>
		</dict>
		<key>lb_single_player.png</key>
		<dict>
			<key>x</key>
			<integer>2431</integer>
			<key>y</key>
			<integer>525</integer>
			<key>width</key>
			<integer>1209</integer>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>1209</integer>
			<key>originalHeight</key>
			<integer>227</integer>
		</dict>
		<key>lb_online_game.png</key>
		<dict>
			<key>x</key>
			<integer>2902</integer>
			<key>y</key>
			<integer>1420</integer>
			<key>width</key>
			<integer>1123</integer>
			<key>height</key>
			<integer>227</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1123</integer>
			<key>originalHeight</key>
			<integer>227</integer>
		</dict>
		<key>lb_two_players.png</key>
		<dict>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>1722</integer>
			<key>width</key>
			<integer>1077</integer>
			<key>height</key>
			<integer>221</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>1077</integer>
			<key>originalHeight</key>
			<integer>227</integer>
		</dict>
		<key>btn_music_off.png</key>
		<dict>
			<key>x</key>
			<integer>1757</integer>
			<key>y</key>
			<integer>1722</integer>
			<key>width</key>
			<integer>1087</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1087</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_music_on.png</key>
		<dict>
			<key>x</key>
			<integer>2846</integer>
			<key>y</key>
			<integer>1722</integer>
			<key>width</key>
			<integer>1087</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1087</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_sound_off.png</key>
		<dict>
			<key>x</key>
			<integer>2431</integer>
			<key>y</key>
			<integer>749</integer>
			<key>width</key>
			<integer>1087</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1087</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_sound_on.png</key>
		<dict>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>1945</integer>
			<key>width</key>
			<integer>1087</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1087</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_find_by_name.png</key>
		<dict>
			<key>x</key>
			<integer>1767</integer>
			<key>y</key>
			<integer>1945</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_online_game.png</key>
		<dict>
			<key>x</key>
			<integer>2654</integer>
			<key>y</key>
			<integer>1945</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_playscreen_settings.png</key>
		<dict>
			<key>x</key>
			<integer>2431</integer>
			<key>y</key>
			<integer>959</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_quit.png</key>
		<dict>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>2155</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_random.png</key>
		<dict>
			<key>x</key>
			<integer>1565</integer>
			<key>y</key>
			<integer>2155</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_resume.png</key>
		<dict>
			<key>x</key>
			<integer>2452</integer>
			<key>y</key>
			<integer>2155</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_single_player.png</key>
		<dict>
			<key>x</key>
			<integer>2431</integer>
			<key>y</key>
			<integer>1163</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_tutorial.png</key>
		<dict>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>2359</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_two_players.png</key>
		<dict>
			<key>x</key>
			<integer>1565</integer>
			<key>y</key>
			<integer>2359</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_with_friend.png</key>
		<dict>
			<key>x</key>
			<integer>2452</integer>
			<key>y</key>
			<integer>2359</integer>
			<key>width</key>
			<integer>885</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>885</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>lb_settings.png</key>
		<dict>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>2563</integer>
			<key>width</key>
			<integer>796</integer>
			<key>height</key>
			<integer>222</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>796</integer>
			<key>originalHeight</key>
			<integer>227</integer>
		</dict>
		<key>lb_winner.png</key>
		<dict>
			<key>x</key>
			<integer>3318</integer>
			<key>y</key>
			<integer>959</integer>
			<key>width</key>
			<integer>650</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>650</integer>
			<key>originalHeight</key>
			<integer>227</integer>
		</dict>
		<key>btn_play_again.png</key>
		<dict>
			<key>x</key>
			<integer>3339</integer>
			<key>y</key>
			<integer>2155</integer>
			<key>width</key>
			<integer>651</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>651</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_back.png</key>
		<dict>
			<key>x</key>
			<integer>3339</integer>
			<key>y</key>
			<integer>2359</integer>
			<key>width</key>
			<integer>595</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>595</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_cancel.png</key>
		<dict>
			<key>x</key>
			<integer>1476</integer>
			<key>y</key>
			<integer>2563</integer>
			<key>width</key>
			<integer>595</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>595</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_invite.png</key>
		<dict>
			<key>x</key>
			<integer>2073</integer>
			<key>y</key>
			<integer>2563</integer>
			<key>width</key>
			<integer>595</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>595</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_menu_2.png</key>
		<dict>
			<key>x</key>
			<integer>2670</integer>
			<key>y</key>
			<integer>2563</integer>
			<key>width</key>
			<integer>595</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>595</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_next.png</key>
		<dict>
			<key>x</key>
			<integer>3267</integer>
			<key>y</key>
			<integer>2563</integer>
			<key>width</key>
			<integer>595</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>595</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_play.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1274</integer>
			<key>width</key>
			<integer>595</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>595</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>btn_replay.png</key>
		<dict>
			<key>x</key>
			<integer>1267</integer>
			<key>y</key>
			<integer>1173</integer>
			<key>width</key>
			<integer>595</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>595</integer>
			<key>originalHeight</key>
			<integer>208</integer>
		</dict>
		<key>lb_you_lost.png</key>
		<dict>
			<key>x</key>
			<integer>678</integer>
			<key>y</key>
			<integer>2787</integer>
			<key>width</key>
			<integer>649</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>650</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>btn_post_to_facebook.png</key>
		<dict>
			<key>x</key>
			<integer>1329</integer>
			<key>y</key>
			<integer>2787</integer>
			<key>width</key>
			<integer>671</integer>
			<key>height</key>
			<integer>151</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>671</integer>
			<key>originalHeight</key>
			<integer>151</integer>
		</dict>
		<key>test_cross.png</key>
		<dict>
			<key>x</key>
			<integer>3713</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>256</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bg_player_avatar_large.png</key>
		<dict>
			<key>x</key>
			<integer>3642</integer>
			<key>y</key>
			<integer>525</integer>
			<key>width</key>
			<integer>242</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>242</integer>
			<key>originalHeight</key>
			<integer>242</integer>
		</dict>
		<key>btn_facebook.png</key>
		<dict>
			<key>x</key>
			<integer>3541</integer>
			<key>y</key>
			<integer>1945</integer>
			<key>width</key>
			<integer>408</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>408</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>ships_wheel.png</key>
		<dict>
			<key>x</key>
			<integer>3864</integer>
			<key>y</key>
			<integer>2563</integer>
			<key>width</key>
			<integer>214</integer>
			<key>height</key>
			<integer>240</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>214</integer>
			<key>originalHeight</key>
			<integer>240</integer>
		</dict>
		<key>vs.png</key>
		<dict>
			<key>x</key>
			<integer>2002</integer>
			<key>y</key>
			<integer>2787</integer>
			<key>width</key>
			<integer>206</integer>
			<key>height</key>
			<integer>199</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>206</integer>
			<key>originalHeight</key>
			<integer>199</integer>
		</dict>
		<key>lb_5000xp.png</key>
		<dict>
			<key>x</key>
			<integer>2210</integer>
			<key>y</key>
			<integer>2787</integer>
			<key>width</key>
			<integer>397</integer>
			<key>height</key>
			<integer>101</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>397</integer>
			<key>originalHeight</key>
			<integer>101</integer>
		</dict>
		<key>btn_settings.png</key>
		<dict>
			<key>x</key>
			<integer>2609</integer>
			<key>y</key>
			<integer>2787</integer>
			<key>width</key>
			<integer>328</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>328</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>player_avatar.png</key>
		<dict>
			<key>x</key>
			<integer>3935</integer>
			<key>y</key>
			<integer>1722</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>158</integer>
		</dict>
		<key>icon_locked.png</key>
		<dict>
			<key>x</key>
			<integer>3520</integer>
			<key>y</key>
			<integer>749</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>138</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>114</integer>
			<key>originalHeight</key>
			<integer>138</integer>
		</dict>
		<key>lb_check_mark.png</key>
		<dict>
			<key>x</key>
			<integer>3970</integer>
			<key>y</key>
			<integer>959</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>102</integer>
		</dict>
		<key>icon_shield.png</key>
		<dict>
			<key>x</key>
			<integer>4027</integer>
			<key>y</key>
			<integer>1420</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>icon_clock.png</key>
		<dict>
			<key>x</key>
			<integer>3992</integer>
			<key>y</key>
			<integer>2155</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>icon_sword.png</key>
		<dict>
			<key>x</key>
			<integer>3936</integer>
			<key>y</key>
			<integer>2359</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>33</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
	</dict>
</dict>
</plist>
