<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
		</dict>
	<key>frames</key>
	<dict>
		<key>menu_avatar_0_normal_0_blue.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_0_normal_0_green.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_0_normal_0_red.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_0_normal_1_blue.png</key>
		<dict>
			<key>x</key>
			<integer>549</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_0_normal_1_green.png</key>
		<dict>
			<key>x</key>
			<integer>732</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_0_normal_1_red.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_1_normal_0_blue.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_1_normal_0_green.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_1_normal_0_red.png</key>
		<dict>
			<key>x</key>
			<integer>549</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_1_normal_1_blue.png</key>
		<dict>
			<key>x</key>
			<integer>732</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_1_normal_1_green.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_1_normal_1_red.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>181</integer>
			<key>height</key>
			<integer>181</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>181</integer>
			<key>originalHeight</key>
			<integer>181</integer>
		</dict>
		<key>menu_avatar_0_big_0.png</key>
		<dict>
			<key>x</key>
			<integer>366</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_0_big_1.png</key>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_0_big_2.png</key>
		<dict>
			<key>x</key>
			<integer>596</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_0_big_3.png</key>
		<dict>
			<key>x</key>
			<integer>711</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_0_big_4.png</key>
		<dict>
			<key>x</key>
			<integer>826</integer>
			<key>y</key>
			<integer>366</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_1_big_0.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>549</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_1_big_1.png</key>
		<dict>
			<key>x</key>
			<integer>115</integer>
			<key>y</key>
			<integer>549</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_1_big_2.png</key>
		<dict>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>549</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_1_big_3.png</key>
		<dict>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>549</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
		<key>menu_avatar_1_big_4.png</key>
		<dict>
			<key>x</key>
			<integer>460</integer>
			<key>y</key>
			<integer>549</integer>
			<key>width</key>
			<integer>113</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>113</integer>
			<key>originalHeight</key>
			<integer>113</integer>
		</dict>
	</dict>
</dict>
</plist>
