<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
		</dict>
	<key>frames</key>
	<dict>
		<key>ninja_small_highlight.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>169</integer>
			<key>height</key>
			<integer>317</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>355</integer>
		</dict>
		<key>pirate_small_highlight.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>354</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>355</integer>
		</dict>
		<key>ninja_small.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>157</integer>
			<key>height</key>
			<integer>293</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>355</integer>
		</dict>
		<key>pirate_small.png</key>
		<dict>
			<key>x</key>
			<integer>479</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>329</integer>
			<key>offsetX</key>
			<real>-17.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>355</integer>
		</dict>
		<key>logo.png</key>
		<dict>
			<key>x</key>
			<integer>615</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>130</integer>
		</dict>
		<key>bg_table_cell.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>356</integer>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>bg_textfield.png</key>
		<dict>
			<key>x</key>
			<integer>473</integer>
			<key>y</key>
			<integer>356</integer>
			<key>width</key>
			<integer>255</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>lb_single_player.png</key>
		<dict>
			<key>x</key>
			<integer>615</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>302</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>302</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>lb_online_game.png</key>
		<dict>
			<key>x</key>
			<integer>730</integer>
			<key>y</key>
			<integer>356</integer>
			<key>width</key>
			<integer>280</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>lb_two_players.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>433</integer>
			<key>width</key>
			<integer>269</integer>
			<key>height</key>
			<integer>55</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>269</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>btn_music_off.png</key>
		<dict>
			<key>x</key>
			<integer>442</integer>
			<key>y</key>
			<integer>433</integer>
			<key>width</key>
			<integer>271</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>271</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_music_on.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>433</integer>
			<key>width</key>
			<integer>271</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>271</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_sound_off.png</key>
		<dict>
			<key>x</key>
			<integer>615</integer>
			<key>y</key>
			<integer>190</integer>
			<key>width</key>
			<integer>271</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>271</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_sound_on.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>271</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>271</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>lb_settings.png</key>
		<dict>
			<key>x</key>
			<integer>444</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>199</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>199</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>btn_find_by_name.png</key>
		<dict>
			<key>x</key>
			<integer>645</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_online_game.png</key>
		<dict>
			<key>x</key>
			<integer>615</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_quit.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>543</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_two_players.png</key>
		<dict>
			<key>x</key>
			<integer>444</integer>
			<key>y</key>
			<integer>548</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_with_friend.png</key>
		<dict>
			<key>x</key>
			<integer>667</integer>
			<key>y</key>
			<integer>548</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_playscreen_settings.png</key>
		<dict>
			<key>x</key>
			<integer>615</integer>
			<key>y</key>
			<integer>295</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_random.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>595</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_resume.png</key>
		<dict>
			<key>x</key>
			<integer>444</integer>
			<key>y</key>
			<integer>600</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_single_player.png</key>
		<dict>
			<key>x</key>
			<integer>667</integer>
			<key>y</key>
			<integer>600</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>btn_tutorial.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>646</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>originalHeight</key>
			<integer>52</integer>
		</dict>
		<key>lb_winner.png</key>
		<dict>
			<key>x</key>
			<integer>838</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>btn_play_again.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>319</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>btn_invite.png</key>
		<dict>
			<key>x</key>
			<integer>868</integer>
			<key>y</key>
			<integer>490</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>btn_back.png</key>
		<dict>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>295</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>btn_cancel.png</key>
		<dict>
			<key>x</key>
			<integer>444</integer>
			<key>y</key>
			<integer>651</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>btn_menu_2.png</key>
		<dict>
			<key>x</key>
			<integer>594</integer>
			<key>y</key>
			<integer>651</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>btn_next.png</key>
		<dict>
			<key>x</key>
			<integer>744</integer>
			<key>y</key>
			<integer>651</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>btn_play.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>697</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>btn_replay.png</key>
		<dict>
			<key>x</key>
			<integer>838</integer>
			<key>y</key>
			<integer>301</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>lb_you_lost.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>371</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>btn_post_to_facebook.png</key>
		<dict>
			<key>x</key>
			<integer>444</integer>
			<key>y</key>
			<integer>703</integer>
			<key>width</key>
			<integer>167</integer>
			<key>height</key>
			<integer>37</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>167</integer>
			<key>originalHeight</key>
			<integer>37</integer>
		</dict>
		<key>test_cross.png</key>
		<dict>
			<key>x</key>
			<integer>937</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>bg_player_avatar_large.png</key>
		<dict>
			<key>x</key>
			<integer>919</integer>
			<key>y</key>
			<integer>132</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>btn_facebook.png</key>
		<dict>
			<key>x</key>
			<integer>890</integer>
			<key>y</key>
			<integer>548</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>102</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>ships_wheel.png</key>
		<dict>
			<key>x</key>
			<integer>894</integer>
			<key>y</key>
			<integer>651</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>53</integer>
			<key>originalHeight</key>
			<integer>59</integer>
		</dict>
		<key>vs.png</key>
		<dict>
			<key>x</key>
			<integer>890</integer>
			<key>y</key>
			<integer>600</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>49</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>51</integer>
			<key>originalHeight</key>
			<integer>49</integer>
		</dict>
		<key>lb_5000xp.png</key>
		<dict>
			<key>x</key>
			<integer>321</integer>
			<key>y</key>
			<integer>697</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>99</integer>
			<key>originalHeight</key>
			<integer>25</integer>
		</dict>
		<key>btn_settings.png</key>
		<dict>
			<key>x</key>
			<integer>613</integer>
			<key>y</key>
			<integer>703</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>23</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>82</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>player_avatar.png</key>
		<dict>
			<key>x</key>
			<integer>394</integer>
			<key>y</key>
			<integer>543</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>39</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>39</integer>
			<key>originalHeight</key>
			<integer>39</integer>
		</dict>
		<key>icon_locked.png</key>
		<dict>
			<key>x</key>
			<integer>988</integer>
			<key>y</key>
			<integer>433</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>lb_check_mark.png</key>
		<dict>
			<key>x</key>
			<integer>888</integer>
			<key>y</key>
			<integer>190</integer>
			<key>width</key>
			<integer>28</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>28</integer>
			<key>originalHeight</key>
			<integer>25</integer>
		</dict>
		<key>icon_shield.png</key>
		<dict>
			<key>x</key>
			<integer>394</integer>
			<key>y</key>
			<integer>595</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>17</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>originalHeight</key>
			<integer>18</integer>
		</dict>
		<key>icon_clock.png</key>
		<dict>
			<key>x</key>
			<integer>394</integer>
			<key>y</key>
			<integer>646</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>17</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>17</integer>
		</dict>
		<key>icon_sword.png</key>
		<dict>
			<key>x</key>
			<integer>1012</integer>
			<key>y</key>
			<integer>356</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>17</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>17</integer>
		</dict>
	</dict>
</dict>
</plist>
