<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
		</dict>
	<key>frames</key>
	<dict>
		<key>menu_avatar_0_normal_0_blue.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_0_normal_0_green.png</key>
		<dict>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_0_normal_0_red.png</key>
		<dict>
			<key>x</key>
			<integer>184</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_0_normal_1_blue.png</key>
		<dict>
			<key>x</key>
			<integer>276</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_0_normal_1_green.png</key>
		<dict>
			<key>x</key>
			<integer>368</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_0_normal_1_red.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_1_normal_0_blue.png</key>
		<dict>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_1_normal_0_green.png</key>
		<dict>
			<key>x</key>
			<integer>184</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_1_normal_0_red.png</key>
		<dict>
			<key>x</key>
			<integer>276</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_1_normal_1_blue.png</key>
		<dict>
			<key>x</key>
			<integer>368</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_1_normal_1_green.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_1_normal_1_red.png</key>
		<dict>
			<key>x</key>
			<integer>92</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>menu_avatar_0_big_0.png</key>
		<dict>
			<key>x</key>
			<integer>184</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_0_big_1.png</key>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_0_big_2.png</key>
		<dict>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_0_big_3.png</key>
		<dict>
			<key>x</key>
			<integer>358</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_0_big_4.png</key>
		<dict>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_1_big_0.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>276</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_1_big_1.png</key>
		<dict>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>276</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_1_big_2.png</key>
		<dict>
			<key>x</key>
			<integer>116</integer>
			<key>y</key>
			<integer>276</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_1_big_3.png</key>
		<dict>
			<key>x</key>
			<integer>174</integer>
			<key>y</key>
			<integer>276</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu_avatar_1_big_4.png</key>
		<dict>
			<key>x</key>
			<integer>232</integer>
			<key>y</key>
			<integer>276</integer>
			<key>width</key>
			<integer>56</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>56</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
	</dict>
</dict>
</plist>
