<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>2048</integer>
		<key>height</key>
		<integer>2048</integer>
		</dict>
	<key>frames</key>
	<dict>
		<key>menu_avatar_0_normal_0_blue.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_0_normal_0_green.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_0_normal_0_red.png</key>
		<dict>
			<key>x</key>
			<integer>728</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_0_normal_1_blue.png</key>
		<dict>
			<key>x</key>
			<integer>1092</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_0_normal_1_green.png</key>
		<dict>
			<key>x</key>
			<integer>1456</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_0_normal_1_red.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>364</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_1_normal_0_blue.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>364</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_1_normal_0_green.png</key>
		<dict>
			<key>x</key>
			<integer>728</integer>
			<key>y</key>
			<integer>364</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_1_normal_0_red.png</key>
		<dict>
			<key>x</key>
			<integer>1092</integer>
			<key>y</key>
			<integer>364</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_1_normal_1_blue.png</key>
		<dict>
			<key>x</key>
			<integer>1456</integer>
			<key>y</key>
			<integer>364</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_1_normal_1_green.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_1_normal_1_red.png</key>
		<dict>
			<key>x</key>
			<integer>364</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>362</integer>
			<key>height</key>
			<integer>362</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>362</integer>
			<key>originalHeight</key>
			<integer>362</integer>
		</dict>
		<key>menu_avatar_0_big_0.png</key>
		<dict>
			<key>x</key>
			<integer>1820</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_0_big_1.png</key>
		<dict>
			<key>x</key>
			<integer>1820</integer>
			<key>y</key>
			<integer>364</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_0_big_2.png</key>
		<dict>
			<key>x</key>
			<integer>728</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_0_big_3.png</key>
		<dict>
			<key>x</key>
			<integer>956</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_0_big_4.png</key>
		<dict>
			<key>x</key>
			<integer>1184</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_1_big_0.png</key>
		<dict>
			<key>x</key>
			<integer>1412</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_1_big_1.png</key>
		<dict>
			<key>x</key>
			<integer>1640</integer>
			<key>y</key>
			<integer>728</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_1_big_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1092</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_1_big_3.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>1092</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
		<key>menu_avatar_1_big_4.png</key>
		<dict>
			<key>x</key>
			<integer>456</integer>
			<key>y</key>
			<integer>1092</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>226</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>226</integer>
			<key>originalHeight</key>
			<integer>226</integer>
		</dict>
	</dict>
</dict>
</plist>
