<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>2048</integer>
		<key>height</key>
		<integer>2048</integer>
		</dict>
	<key>frames</key>
	<dict>
		<key>bg_next_turn.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>1536</integer>
			<key>height</key>
			<integer>337</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>1536</integer>
			<key>originalHeight</key>
			<integer>337</integer>
		</dict>
		<key>bg_can_move_unit.png</key>
		<dict>
			<key>x</key>
			<integer>1538</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>159</integer>
			<key>height</key>
			<integer>1024</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>1024</integer>
		</dict>
		<key>bg_cannot_move_unit.png</key>
		<dict>
			<key>x</key>
			<integer>1699</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>159</integer>
			<key>height</key>
			<integer>1024</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>1024</integer>
		</dict>
		<key>btn_call_troops.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>339</integer>
			<key>width</key>
			<integer>548</integer>
			<key>height</key>
			<integer>163</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>548</integer>
			<key>originalHeight</key>
			<integer>163</integer>
		</dict>
		<key>marker_hit.png</key>
		<dict>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>339</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>223</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>300</integer>
		</dict>
		<key>bg_player_avatar.png</key>
		<dict>
			<key>x</key>
			<integer>773</integer>
			<key>y</key>
			<integer>339</integer>
			<key>width</key>
			<integer>204</integer>
			<key>height</key>
			<integer>204</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>204</integer>
			<key>originalHeight</key>
			<integer>204</integer>
		</dict>
		<key>btn_magic.png</key>
		<dict>
			<key>x</key>
			<integer>979</integer>
			<key>y</key>
			<integer>339</integer>
			<key>width</key>
			<integer>325</integer>
			<key>height</key>
			<integer>123</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>325</integer>
			<key>originalHeight</key>
			<integer>123</integer>
		</dict>
		<key>bg_health_bar_empty.png</key>
		<dict>
			<key>x</key>
			<integer>1860</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>677</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>51</integer>
			<key>originalHeight</key>
			<integer>677</integer>
		</dict>
		<key>btn_end_turn.png</key>
		<dict>
			<key>x</key>
			<integer>1538</integer>
			<key>y</key>
			<integer>1026</integer>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>137</integer>
		</dict>
		<key>bg_health_bar_filled.png</key>
		<dict>
			<key>x</key>
			<integer>1306</integer>
			<key>y</key>
			<integer>339</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>665</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>51</integer>
			<key>originalHeight</key>
			<integer>677</integer>
		</dict>
		<key>comp_avatar.png</key>
		<dict>
			<key>x</key>
			<integer>1790</integer>
			<key>y</key>
			<integer>1026</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>158</integer>
		</dict>
		<key>player1_avatar.png</key>
		<dict>
			<key>x</key>
			<integer>1347</integer>
			<key>y</key>
			<integer>339</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>158</integer>
		</dict>
		<key>player2_avatar.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>504</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>158</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>158</integer>
			<key>originalHeight</key>
			<integer>158</integer>
		</dict>
		<key>bg_time_left.png</key>
		<dict>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>504</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>117</integer>
		</dict>
		<key>lb_cascade.png</key>
		<dict>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>564</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>281</integer>
			<key>originalHeight</key>
			<integer>82</integer>
		</dict>
		<key>icon_strength_shield.png</key>
		<dict>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>504</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>159</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>marker_slow.png</key>
		<dict>
			<key>x</key>
			<integer>833</integer>
			<key>y</key>
			<integer>564</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>148</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>148</integer>
		</dict>
		<key>btn_menu.png</key>
		<dict>
			<key>x</key>
			<integer>983</integer>
			<key>y</key>
			<integer>564</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>137</integer>
		</dict>
		<key>btn_show_strength.png</key>
		<dict>
			<key>x</key>
			<integer>1139</integer>
			<key>y</key>
			<integer>564</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>154</integer>
			<key>originalHeight</key>
			<integer>137</integer>
		</dict>
		<key>lb_special.png</key>
		<dict>
			<key>x</key>
			<integer>979</integer>
			<key>y</key>
			<integer>464</integer>
			<key>width</key>
			<integer>223</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>223</integer>
			<key>originalHeight</key>
			<integer>79</integer>
		</dict>
		<key>bg_turns_left.png</key>
		<dict>
			<key>x</key>
			<integer>1913</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>131</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>131</integer>
			<key>originalHeight</key>
			<integer>131</integer>
		</dict>
		<key>bg_unit_health_empty.png</key>
		<dict>
			<key>x</key>
			<integer>1860</integer>
			<key>y</key>
			<integer>679</integer>
			<key>width</key>
			<integer>131</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>131</integer>
			<key>originalHeight</key>
			<integer>131</integer>
		</dict>
		<key>lb_combo.png</key>
		<dict>
			<key>x</key>
			<integer>1538</integer>
			<key>y</key>
			<integer>1165</integer>
			<key>width</key>
			<integer>223</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>223</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>icon_strength_circle.png</key>
		<dict>
			<key>x</key>
			<integer>1306</integer>
			<key>y</key>
			<integer>1006</integer>
			<key>width</key>
			<integer>121</integer>
			<key>height</key>
			<integer>121</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>bg_unit_health_filled.png</key>
		<dict>
			<key>x</key>
			<integer>1790</integer>
			<key>y</key>
			<integer>1186</integer>
			<key>width</key>
			<integer>117</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>131</integer>
			<key>originalHeight</key>
			<integer>131</integer>
		</dict>
		<key>icon_strength_wall.png</key>
		<dict>
			<key>x</key>
			<integer>1909</integer>
			<key>y</key>
			<integer>1186</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>lb_sync.png</key>
		<dict>
			<key>x</key>
			<integer>1347</integer>
			<key>y</key>
			<integer>499</integer>
			<key>width</key>
			<integer>172</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>172</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>bg_magic_bar_empty.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>504</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>400</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>bg_magic_bar_filled.png</key>
		<dict>
			<key>x</key>
			<integer>1993</integer>
			<key>y</key>
			<integer>679</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>400</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>
